@import './imports';
@mixin mode1 {
        @include common;
        background-image: url('../public/images/bg-desktop-dark.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: $vd-blue;
        font-family: $font;
        .t-header{
               // background-color: $vd-desat-blue;
               color: $lg-blue;
        }

        .t-newItem, .t-component{
                background-color: $vd-desat-blue;
                color: $lg-blue;
                input::placeholder{
                        color: $dg-blue-dark; 
                }
                input{
                        color: $lg-blue;
                }
        }
        .t-c-list>div{
                border-bottom: $vdg-blue 1px  solid;
                
                &:hover{
                        color: $lg-blue-hover;
                }
        }
        .t-c-footer{
                color: $vdg-blue;
        }
        .t-c-f-filters>span:hover{
                cursor: pointer;
                color: $lg-blue;
                transition: all 500ms;
        }
        .t-c-list::-webkit-scrollbar{
                background-color: $vd-desat-blue;
        }
        .t-c-list::-webkit-scrollbar-thumb{
                background-color: $vdg-blue;
                &:hover{
                        background-color: lighten($vdg-blue,10);
                        
                }
        }
        .t-c-f-actions:hover{
                transition: all 500ms;
                color: $lg-blue;
                cursor: pointer;
        }
}
@mixin mode2{
        @include common;
        background-image: url('../public/images/bg-desktop-light.jpg');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: white;
        font-family: $font;
        .t-header{
               // background-color: $vlg-blue;
               color: $vlg;
        }
        .t-newItem, .t-component{
                background-color: $vlg;
                input::placeholder{
                        color: $dg-blue; 
                }
                input{
                        color: $vdg-blue;
                }
        }
        .t-c-list>div{
                border-bottom: $dg-blue 1px  solid;
                color: $vdg-blue;
                &:hover{
                        color: darken($vdg-blue,10);
                }
        }
        .t-c-footer{
                color: $dg-blue;
        }
        .t-c-f-filters>span:hover{
                transition: all 500ms;
                color: $vdg-blue-light;
        }
        .t-c-f-actions:hover{
                transition: all 500ms;
                color: $vdg-blue-light;
                cursor: pointer;
        }
        .t-c-list::-webkit-scrollbar{
                background-color: $vlg;
        }
        .t-c-list::-webkit-scrollbar-thumb{
                background-color: $vlg-blue;
                &:hover{
                        background-color: darken($vlg-blue,10);
                        
                }
        }

}

@mixin common{
    .App{
        display: flex;
        justify-content: center;
        align-items: center;
       height: 100vh;
       
    }
    .todo{
        width: 450px;
        height: 75vh;
    }
    .t-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 6%;
        .t-h-title{
                font-weight: 700;
                letter-spacing: 10px;
                font-size: 2.5em;
        }
        }
        .t-newItem{
                padding: 15px;
                //font-size: 1.5em;
                margin-bottom: 5%;
                border-radius: 5px;
                display: flex;
                align-items: center;
                transition: all 250ms ease-in-out;
                input.text{
                        font-size: 1.2em;
                        background-color: transparent;
                        outline: none;
                        border: none;
                        margin-left: 7%;
                }
                .checker1{
                        display: none;
                }

                .checkbox1{
                        border: $dg-blue 1px solid;
                        border-radius: 50%;
                        padding-left: 6px;
                        padding-right: 6px;
                        padding-top: 3.5px;
                        padding-bottom: 3.5px;
                        cursor: pointer;
                        
                        .check1{
                                opacity: 0;
                        }
                        .check1fill{
                                opacity: 1;
                        }
                        
                }
                .fill{
                        
                        background-image: linear-gradient($CBG1, $CBG2);
                        
                }
        }
        .t-component{
                border-radius: 5px;
                
        }
        .t-c-list{
                overflow-y: scroll;
                max-height: 50vh;
                transition: all 500ms;

        }
        .t-c-list::-webkit-scrollbar{
                border-radius: 20px;
                width: 7px;

        }
        .t-c-list::-webkit-scrollbar-thumb{
                height: 10px;
                border-radius: 40px;
        }
        .t-c-list>div{
                font-size: 1em;
                padding: 15px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
               
                .t-c-l-item{
                        margin-left: 5%;
                        flex-grow: 3;
                        text-overflow: ellipsis;
                        transition: all 250ms ease-in-out;
                }
                .itemCompleted{
                        text-decoration: line-through 1px;
                        color: $dg-blue-dark; 
                }
                .checker2{
                        display: none;
                }
                .checkbox2{
                        border: $dg-blue 1px solid;
                        border-radius: 50%;
                        padding-left: 6px;
                        padding-right: 6px;
                        padding-top: 3.5px;
                        padding-bottom: 3.5px;
                        cursor: pointer;
                        .check2{
                                opacity: 0;
                        }

                }
                .checkbox2fill{
                        border: $dg-blue 1px solid;
                        border-radius: 50%;
                        padding-left: 6px;
                        padding-right: 6px;
                        padding-top: 3.5px;
                        padding-bottom: 3.5px;
                        cursor: pointer;
                        background-image: linear-gradient($CBG1, $CBG2);

                        .check2{
                                opacity: 1;
                        }
                }
                // .check{
                //         display: none;
                // }

                .t-c-l-delete{
                        justify-self: flex-end;
                        margin-right: 10%;
                        opacity: 0;
                }
                &:hover{
                        .t-c-l-delete{
                                opacity: 1;
                        }
                }    
        }

        .t-c-footer{
                display: flex;
                padding: 15px;
                font-size: 0.8em;
                justify-content: space-around;
                font-weight: 700;
                
                .t-c-f-filters{
                        display: flex;
                        justify-content: space-evenly;
                        width: 150px;
                        
                        cursor: pointer;
                        .selectedFilter{
                                
                                color: $BB;
                        }

                }

        }
}